
@{
    ViewBag.Title = "Blocked -Access Denied";
    Layout = "_Layout";
}
<h2 style="color: white">Kindly Get Out !</h2>
<h3 style="color: white">You Are Not Authorized For This Page</h3>
<h3 style="color: white">You Are Not Authorized For This Page</h3>
